body {
    margin: 0px;
    padding: 0px;
    background-color: #424242;
}

.all {

    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    font-family: 'Roboto', sans-serif;
    margin: 0px;
    padding: 0px;
    color: white;

}

.button {
    display: unset;
    position: fixed;
    left: 0;
    width: 50px;
    height: 50px;
    background-color: transparent;
    z-index: 100;
    margin-left: 8px;
    margin-top: 11px;
}

.menu {
    display: none;
}

.menuVisible {
    position: fixed;
    top: 0;
    left: 0;
    width: 80%;
    max-width: 300px;
    height: 100%;
    z-index: 4;
    background-color: #303030;      
}

.background {
    width: 100%;
    z-index: 5;
}

menuitem {
    padding-left: 16px;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 8px;
}

.menulink {
    color: white;
    text-decoration: none;
    font-size: 1em;
}

.icon {
    padding-right: 16px;
}

.main {
    background-color: #424242;
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 0px;
    padding: 0px;
}

header {
    height: 72px;
    position: fixed;
    z-index: 3;
    top: 0;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: #303030;
    margin: 0;
}

h1 {
    margin: 0;
    padding: 0;
    font-size: 1.8em;
}

.search {
    position: fixed;
    right: 0;        
    width: 50px;
    height: 50px;
    background-color: transparent;
    padding-right: 8px;
}

article {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: flex-start;
    justify-content: space-around;
    background-color: #424242;
    margin: 0;
    padding: 1%;
    padding-top: 76px;
    height: 100%;
    width: 100%;
}

figure {
    margin: 1%;
    width: 47%;
    display: flex;
    flex-direction: column-reverse;
}

.browse_item {
    display: unset;
    position: static;
    width: 100%;
    height: auto;
    z-index: 1;
}

h2 {
    display: inline-block;
    font-size: 1em;
}

    .browse_item_big {
    display: none;
}

.description {
    position: absolute;
    width: calc(47% - 8px);
    color: white;
    background-color: black;
    opacity: 0.7;
    z-index: 2;
    padding-left: 8px;        
}

.browselink {
    color: white;
    text-decoration: none;
    padding: 0;
    margin: 0;
    display: inline;
}

.location_site {
    margin-top: 72px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 16px;
}

.popular_site {
    background-image: url(https://s-media-cache-ak0.pinimg.com/originals/fc/87/fe/fc87fee1fb262de65cb8a7b5e586a1b0.jpg);
}

p {
    background-color: lightblue;
    color: black;
    opacity: 80;
    border-radius: 20px;
    padding: 12px;
}

    @media only screen
and (min-device-width : 426px) {

        article {
        padding: 0.8%;
        padding-top: 76px;
        height: 100%;
        width: 100%;
    }
        
        figure {
        margin: 0.8%;
        width: 23%;
        display: flex;
        flex-direction: column-reverse;
    }

        .description {
        position: absolute;
        width: calc(23% - 8px);
        color: white;
        background-color: black;
        opacity: 0.7;
        z-index: 2;
        padding-left: 8px;
    }

        .browse_item {
        display: none;
    }

        .browse_item_big {
        display: unset; 
        width: 100%;
        height: auto;
        z-index: 1;
    }
}